<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Open+Sans:400,600,700' rel='stylesheet' type='text/css' />
</head>
<body>
<h2 align="center"> Passion Project </h2>
<h1 align="center"> Google Translate </h1>
<div id="wrapper">
  <div id="header-wrapper">
    <div id="header" class="container">
      <div id="logo">
        <% if current_user %>
        <h1>Hello! <%= current_user.first_name %></h1>
        <% end %>
      </div>
      <div id="menu">
          <% if current_user %>
          <form method='post' action='/sessions'>
          <input type ='hidden' name='_method' value='delete'>
            <button type="submit">Logout</button>
          </form>
          <% end %>

        <ul>
          <li class="active"><a href="/" accesskey="1" title="">Homepage</a></li>
          <% if !current_user %>
          <li><a href='/users/new' accesskey="2" title="">Sign Up</a></li>
          <li><a href='/sessions/login' accesskey="3" title="">Login</a></li>
          <% end %>

        </ul>
      </div>
    </div>
  </div>
  <div id="banner" class="container"><img src="https://www.translatemedia.com/wp-content/uploads/2011/12/translate21.jpg" width="1000" height="300" alt="" /></div>
  <div id="page" class="container">
    <div id="content">
      <div id="box1">
        <h2 class="title">Welcome to my passion project</h2>
        <p>   I really wanted to practice connecting to an API and be able to work with it. Some goals I wanted out of this was to
          <ul>
            <li>use ajax</li>
            <li>user auth</li>
            <li>practice some css/html</li>
            <br>
          </ul>
        </p>
      </div>
      <div>
        <ul class="style1">
          <li class="first">

              <h3><em><img src="http://www.ngtranslation-traduction.co.za/wp-content/uploads/2016/06/Funny-Translation-Image.jpg" alt="" width="130" height="130" class="alignleft border" /></em>Translate ANYTHING!</h3>

              <form id="translate" method='post' action='/translation/new'>

              Your Language:
              <select name="input">
                <% @languages.each do |abbrv,language| %>
              <option value=<%= abbrv %>><%= language %></option>
              <% end %>
              </select>
              <br>
              <br>
              Translate To:
              <select name="output">
                <% @languages.each do |abbrv,language| %>
              <option value=<%= abbrv %>><%= language %></option>
              <% end %>
              </select>
              <br>
              <br>
              <input id='word' type="text" name="word">
              <button type="submit">Create Translation</button>
              </form>

          </li>
        </ul>
        <ul id="body-list" class="style1">
        </ul>
      </div>
    </div>


  </div>
</body>
</html>

